
.counter {
  padding: 40px;
  outline: 2px solid black;
  width: 100%;
  background-color: rgb(121, 191, 214);
  display: flex;
  flex-direction: column; 
  align-items: center; 

  .counter__heading {
    font-size: 25px;
    margin-bottom: 10px; 
  }

  .counter__number {
    font-size: 30px;
    margin-bottom: 20px; 
  }

  .counter__buttons {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
  }

  .counter__decrement,
  .counter__increment {
    font-size: 25px;
    height: 30px;
    width: 30px;
  }
}