
.employee{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;


  &__name-input{
    display: block;
    width: 100%; 
    padding: 10px;
    margin-bottom: 20px;
    font-size: 25px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    outline: 2px solid black;
    padding: 10px;
    min-width: 200px; 
    width: calc(33.33% - 20px);
    flex: 0.5 1 auto;
    margin-bottom: 20px;
    background-color: lightblue;

    .employee__name-role{
      font-size: 22px;
      margin-bottom: 50px;

      .employee__names{
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  
  .employee{
    padding: 20px;

    &__info {
      width: calc(20% - 20px);
    }
  }
}

@media screen and (min-width: 1024px) {
  
  .employee{

    &__info {
      min-width: unset;
      width: calc(20% - 20px);
    }
  }
}


