
.employee-container{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;

  .employee__name-input{
    display: block;
    width: 100%; 
    padding: 10px;
    margin-bottom: 20px;
    font-size: 25px;
  }

  .employee-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    outline: 2px solid black;
    padding: 10px;
    min-width: 200px; 
    width: calc(33.33% - 20px);
    flex: 0.5 1 auto;
    margin-bottom: 20px;
    background-color: lightblue;
    // overflow: auto;

    .employee__name-role{
      font-size: 22px;
      margin-bottom: 50px;

      .employee-content__names{
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  
  .employee-container{

    .employee-info {
      width: calc(100%/3);
    }
  }
}

@media screen and (min-width: 1024px) {
  
  .employee-container{

    .employee-info {
      min-width: unset;
      width: calc(100%/6);
    }
  }
}


