#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.ticket-container{

  .ticket__heading{
    padding: 30px;
    font-size: 50px;
  }

  .employees-tickets{
    display: flex;
    // width: 200px;
    gap: 30px;

    .ticket__employees-info{
      display: block;
      outline: 2px solid black;
      padding: 10px;
      width: 110px;
    }
  }
}

  